<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.portfolio.cart.dao.CartDao">

	  <insert id="insertCart" parameterType="com.portfolio.cart.dto.CartDto$CartSaveQuery">
			INSERT INTO cart (
				user_id,
				product_id,
				quantity
			) VALUES (
			    #{userId},
			    #{productId},
			    IFNULL(#{quantity}, 1)
			)ON DUPLICATE KEY 
			UPDATE
			quantity = quantity + IFNULL(#{quantity}, 1);
	  </insert>
      <select id="selectCart" parameterType="com.portfolio.cart.dto.CartDto$CartQuery" resultType="com.portfolio.cart.dto.CartDto$Cart">
        SELECT 
			user_id,
			product_id,
			quantity,
			create_date,
			modify_date
        FROM 
            cart
        WHERE product_id=#{productId}
        AND user_id=#{userId}
    </select>
    <select id="selectCartListCnt" parameterType="String" resultType="Int">
        SELECT 
        COUNT(*)
        FROM 
            cart
        WHERE user_id=#{userId}
    </select>
    <select id="selectCartList" parameterType="com.portfolio.cart.dto.CartDto$CartListQuery" resultType="com.portfolio.cart.dto.CartDto$CartListResult">
        SELECT 
			c.product_id,
			p.name as productName,
			p.description as description,
			p.use_yn as productUseYn,
			c.quantity,
			p.price,
			CONCAT(f.file_id, '.', f.file_type) AS imageUrl,
			c.create_date
        FROM cart c
        LEFT OUTER JOIN product p ON c.product_id=p.product_id
        LEFT OUTER JOIN file f ON c.product_id=f.reference_id AND f.reference_type='PRODUCT_IMG' AND f.use_yn='Y'
        WHERE user_id=#{userId}
        ORDER BY c.product_id ASC
    </select>
    <update id="updateCart" parameterType="com.portfolio.cart.dto.CartDto$CartUpdateQuery">
	    UPDATE cart
		SET
	    quantity = #{quantity}
		WHERE product_id = #{productId}
	    AND user_id=#{userId}
    </update>
	<delete id="deleteCartList" parameterType="com.portfolio.cart.dto.CartDto$CartListDeleteQuery">
	    DELETE FROM cart
	    WHERE user_id = #{userId}
	    AND product_id IN
	    <foreach item="productId" collection="productIdList" open="(" separator="," close=")">
	        #{productId}
	    </foreach>
	</delete>
    <select id="selectCartListForCheckout" parameterType="com.portfolio.cart.dto.CartDto$CartListForCheckoutQuery" resultType="com.portfolio.cart.dto.CartDto$CartListForCheckoutResult">
        SELECT 
			c.product_id,
			p.name as productName,
			p.description as description,
			p.use_yn as productUseYn,
			c.quantity,
			p.price,
			CONCAT(f.file_id, '.', f.file_type) AS imageUrl,
			c.create_date
        FROM cart c
        LEFT OUTER JOIN product p ON c.product_id=p.product_id
	    LEFT OUTER JOIN file f ON c.product_id=f.reference_id AND f.reference_type='PRODUCT_IMG' AND f.use_yn='Y'
        WHERE user_id=#{userId}
        AND c.product_id IN
	      <foreach item="id" collection="productIdList" open="(" separator="," close=")">
	        #{id}
	      </foreach>
	   	ORDER BY c.product_id ASC
    </select>
</mapper>