<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.portfolio.order.dao.OrderDao">

	<resultMap id="orderResultMap" type="com.portfolio.order.dto.OrderDto$OrderListResult">
	    <id property="orderId" column="order_id"/>
	    <result property="totalPrice" column="total_price"/>
	    <result property="status" column="status"/>
	    <result property="postcode" column="postcode"/>
	    <result property="roadAddress" column="road_address"/>
	    <result property="jibunAddress" column="jibun_address"/>
	    <result property="detailAddress" column="detail_address"/>
	    <result property="createDate" column="create_date"/>
	    <collection property="orderItems" ofType="com.portfolio.order.dto.OrderDto$OrderItemResult">
	        <id property="orderItemId" column="order_item_id"/>
	        <result property="imageUrl" column="image_url"/>
	        <result property="productName" column="product_name"/>
	        <result property="quantity" column="quantity"/>
	        <result property="price" column="price"/>
	        <result property="status" column="orderItemStatus"/>
	        <result property="createDate" column="oi_create_date"/>
	    </collection>
	</resultMap>
    <select id="selectOrderList" parameterType="com.portfolio.order.dto.OrderDto$OrderListQuery" resultMap="orderResultMap">
        SELECT
            sub.order_id,
            sub.total_price,
            sub.status,
            sub.post_code ,
            sub.road_address ,
            sub.jibun_address ,
            sub.detail_address ,
            sub.create_date,
            oi.order_item_id,
            CONCAT(f.file_id, '.', f.file_type) AS image_url,
            p.name as product_name,
            oi.quantity,
            oi.price,
            oi.status as orderItemStatus,
            oi.create_date AS oi_create_date
        FROM (
	        SELECT 
		        o.order_id,
		        o.total_price,
		        o.status,
		        o.post_code ,
		        o.road_address ,
		        o.jibun_address ,
		        o.detail_address ,
		        o.create_date
	        FROM orders o
	        WHERE o.user_id=#{userId}
	        <if test="status != null and status != ''">
	            AND o.status = #{status}
	        </if>
	        <if test="orderId != null">
	            AND o.order_id <![CDATA[<]]> #{orderId}
	        </if>
	        ORDER BY o.order_id DESC
	        LIMIT #{limit}
	        ) sub
        INNER JOIN orderItems oi ON sub.order_id = oi.order_id
        INNER JOIN product p ON p.product_id =oi.product_id 
        LEFT OUTER JOIN file f ON oi.product_id=f.reference_id AND f.reference_type='PRODUCT_IMG' AND f.use_yn='Y'

    </select>
    <select id="selectOrder" parameterType="Int" resultType="com.portfolio.order.dto.OrderDto">
        SELECT
			order_id,
			user_id,
			total_price,
			status,
			create_date,
			modify_date
        FROM orders
        WHERE order_id=#{orderId}
    </select>
    <update id="updateOrderForCancel" parameterType="com.portfolio.order.dto.OrderDto$OrderCancelQuery">
	    UPDATE orders
		SET
		status='CANCELLED'
		WHERE
	    order_id = #{orderId};
    </update>
	<insert id="insertOrder" parameterType="com.portfolio.order.dto.OrderDto$OrderSaveQuery">
			INSERT INTO orders (
				user_id,
				total_price,
				status,
				post_code,
				road_address,
				jibun_address,
				detail_address
			) VALUES (
			    #{userId},
			    #{totalPrice},
			    #{status},
			    #{postcode},
		    	#{roadAddress},
		      	#{jibunAddress},
		      	#{detailAddress}
			)
		    <selectKey keyProperty="orderId" resultType="int" order="AFTER">
		        SELECT LAST_INSERT_ID()
		    </selectKey>
	  </insert>
    
    
</mapper>