<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.portfolio.product.dao.ProductDao">

    <select id="selectProductList" parameterType="com.portfolio.product.dto.ProductDto$ProductListQuery" resultType="com.portfolio.product.dto.ProductDto$ProductListResult">
        SELECT 
            p.product_id,
            p.name,
            p.description,
            p.price,
            p.category_id,
            CONCAT(f.file_id, '.', f.file_type) AS imageUrl,
            p.create_date
        FROM 
            product p
        LEFT OUTER JOIN file f ON p.product_id=f.reference_id AND f.reference_type='PRODUCT_IMG' AND f.use_yn='Y'
        <where>
        	AND p.use_yn = 'Y'
            <if test="productId != null">
                AND p.product_id <![CDATA[<]]> #{productId}
            </if>
            <if test="categoryId != null">
                AND p.category_id = #{categoryId}
            </if>
        </where>
        ORDER BY p.create_date DESC, p.product_id DESC
        LIMIT #{limit}
    </select>
    
    <select id="selectProduct" parameterType="Integer" resultType="com.portfolio.product.dto.ProductDto$Product">
        SELECT 
			product_id,
			quantity,
			name,
			description,
			use_yn,
			price,
			category_id,
			create_date,
			modify_date
        FROM 
            product
        WHERE product_id=#{productId}
    </select>
    <select id="selectProductDetail" parameterType="Integer" resultType="com.portfolio.product.dto.ProductDto$ProductDetailResult">
        SELECT 
			p.product_id,
			p.name,
			p.description,
			p.price,
			p.category_id,
			CONCAT(f.file_id, '.', f.file_type) AS imageUrl,
			p.create_date
        FROM 
            product p
        LEFT OUTER JOIN file f ON p.product_id=f.reference_id AND f.reference_type='PRODUCT_IMG' AND f.use_yn='Y'
        WHERE p.product_id=#{productId}
        AND p.use_yn = 'Y'
    </select>
    <select id="selectProductWithExclusiveLock" parameterType="Integer" resultType="com.portfolio.product.dto.ProductDto$Product">
        SELECT 
			product_id,
			quantity,
			name,
			description,
			use_yn,
			price,
			category_id,
			create_date,
			modify_date
        FROM 
            product
        WHERE product_id=#{productId}
        FOR UPDATE;
    </select>
</mapper>