<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.portfolio.user.dao.UserDao">

  <select id="selectUserInfoByNaverSnsId" parameterType="String" resultType="com.portfolio.user.dto.UserDto$UserInfo">
		SELECT
		    user_id,
		    username,
		    email,
		    nickname,
		    use_yn ,
		    naver_sns_id ,
		    create_date ,
		    modify_date 
		FROM
		    USERS
		WHERE
		    naver_sns_id = #{naverSnsId}
  </select>
  
  <insert id="insertUserInfo" parameterType="com.portfolio.user.dto.UserDto$UserInfo">
		INSERT INTO users (
		    username,
		    email,
		    nickname,
		    naver_sns_id
		) VALUES (
		    #{username},
		    #{email},
		    #{nickname},
		    #{naverSnsId}
		)
  </insert>
  <update id="updateUserInfo" parameterType="com.portfolio.user.dto.UserDto$UserInfo">
    UPDATE users
    <trim prefix="SET" suffixOverrides="," suffix=" WHERE id = #{userId}">
        <if test="username != null and !username.isEmpty()">
            username = #{username},
        </if>
        <if test="email != null and !email.isEmpty()">
            email = #{email},
        </if>
        <if test="nickname != null and !nickname.isEmpty()">
            nickname = #{nickname},
        </if>
        <if test="useYn != null and !useYn.isEmpty()">
            use_yn = #{useYn}
        </if>
    </trim>
    
  </update>
  <select id="selectUserInfo" parameterType="String" resultType="com.portfolio.user.dto.UserDto$UserInfo">
		SELECT
		    user_id,
		    username,
		    email,
		    nickname,
		    use_yn ,
		    naver_sns_id ,
		    create_date ,
		    modify_date 
		FROM
		    USERS
		WHERE
		    user_id = #{userId}
  </select>
  
  
</mapper>