<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.portfolio.user.dao.UserDao">

  <select id="selectUserInfoByNaverSnsId" parameterType="String" resultType="com.portfolio.user.dto.UserDto$User">
		SELECT
		    user_id,
		    username,
		    email,
		    nickname,
		    use_yn ,
		    naver_sns_id ,
			gender,
		    birthday,
			birthyear,
		    create_date ,
		    modify_date 
		FROM
		    users
		WHERE
		    naver_sns_id = #{naverSnsId}
  </select>
  
  <insert id="insertUser" parameterType="com.portfolio.user.dto.UserDto$User">
		INSERT INTO users (
		    username,
		    email,
		    nickname,
		    naver_sns_id,
		    gender,
		    birthday,
			birthyear
		) VALUES (
		    #{username},
		    #{email},
		    #{nickname},
		    #{naverSnsId},
		    #{gender},
		    #{birthday},
		    #{birthyear}
		)
		<selectKey keyProperty="userId" resultType="String" order="AFTER" >
			select user_id from users where naver_sns_id=#{naverSnsId}
		</selectKey>
  </insert>
  <update id="updateUser" parameterType="com.portfolio.user.dto.UserDto$User">
    UPDATE users
    <trim prefix="SET" suffixOverrides="," suffix=" WHERE user_id = #{userId}">
        <if test="username != null and !username.isEmpty()">
            username = #{username},
        </if>
            email = #{email},
        <if test="nickname != null and !nickname.isEmpty()">
            nickname = #{nickname},
        </if>
        <if test="gender != null and !gender.isEmpty()">
            gender = #{gender},
        </if>
        <if test="birthday != null and !birthday.isEmpty()">
            birthday = #{birthday},
        </if>
        <if test="birthyear != null and !birthyear.isEmpty()">
            birthyear = #{birthyear},
        </if>
        <if test="useYn != null and !useYn.isEmpty()">
            use_yn = #{useYn}
        </if>
    </trim>
    
  </update>
  <select id="selectUser" parameterType="String" resultType="com.portfolio.user.dto.UserDto$User">
		SELECT
		    user_id,
		    username,
		    email,
		    nickname,
		    use_yn ,
		    naver_sns_id ,
		    gender,
		    birthday,
			birthyear,
		    create_date ,
		    modify_date 
		FROM
		    users
		WHERE
		    user_id = #{userId}
  </select>
  
  
</mapper>